{
  "presets": [
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-catch-reporter",
      {
        "name": "console",
        "source": "@sentry/browser",
        "methodName": "error",
        "catchPromise": false,
        "namespaced": true
      }
    ]
  ]
}